services:
  db_tasks:
    image: postgres:16-alpine
    environment:
      POSTGRES_USER: tasks
      POSTGRES_PASSWORD: tasks
      POSTGRES_DB: tasks_db
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U tasks -d tasks_db -h localhost"]
      interval: 3s
      timeout: 3s
      retries: 10
    networks: [appnet]

  db_users:
    image: postgres:16-alpine
    environment:
      POSTGRES_USER: users
      POSTGRES_PASSWORD: users
      POSTGRES_DB: users_db
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U users -d users_db -h localhost"]
      interval: 3s
      timeout: 3s
      retries: 10
    networks: [appnet]

  tasks-a-1:
    build: ./services/tasks-service
    environment:
      PORT: 5000
      DATABASE_URL: postgresql://tasks:tasks@db_tasks:5432/tasks_db
    depends_on:
      db_tasks:
        condition: service_healthy
    restart: unless-stopped
    networks: [appnet]

  tasks-a-2:
    build: ./services/tasks-service
    environment:
      PORT: 5000
      DATABASE_URL: postgresql://tasks:tasks@db_tasks:5432/tasks_db
    depends_on:
      db_tasks:
        condition: service_healthy
    restart: unless-stopped
    networks: [appnet]

  users:
    build: ./services/users-service
    environment:
      PORT: 6000
      TASKS_BASE_URL: http://lb-tasks
      DATABASE_URL: postgresql://users:users@db_users:5432/users_db
    ports:
      - "6000:6000"
    depends_on:
      db_users:
        condition: service_healthy
      lb-tasks:
        condition: service_started
    restart: unless-stopped
    networks: [appnet]

  lb-tasks:
    build: ./load-balancer
    ports: ["8080:80"]
    depends_on: [tasks-a-1, tasks-a-2]
    restart: unless-stopped
    networks: [appnet]

  # Frontend
  frontend:
    build: ./frontend
    ports:
      - "5173:80"
    depends_on: [lb-tasks, users]
    networks: [appnet]

networks:
  appnet:

volumes:
  db_tasks_data:
  db_users_data:
