version: "3.9"
services:
  frontend:
    build: ./frontend
    image: alan/todo-frontend:v1.0.0
    depends_on: [api]
    ports:
      - "8080:80"
    networks: [app-net]

  api:
    build: ./api
    image: alan/todo-api:v1.0.0
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_HOST: db
      POSTGRES_PORT: 5432
      REDIS_HOST: ${REDIS_HOST}
      REDIS_PORT: ${REDIS_PORT}
    networks: [app-net]

  db:
    image: postgres:16-alpine
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - dbdata:/var/lib/postgresql/data
    networks: [app-net]

  redis:
    image: redis:7-alpine
    networks: [app-net]

  adminer:
    image: adminer:latest
    depends_on: [db]
    ports: ["8081:8080"]
    networks: [app-net]

  cadvisor:
    image: gcr.io/cadvisor/cadvisor:v0.49.1
    ports: ["8082:8080"]
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:ro
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro
    networks: [app-net]

networks:
  app-net:

volumes:
  dbdata:
